.review-page {
  background: #eaeded;
  min-height: 100vh;
  padding: 20px;
}

.review-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 20px;
}

/* LEFT */
.review-left {
  flex: 3;
}

.box {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.box h3 {
  margin-bottom: 15px;
}

.box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* ITEMS */
.item-row {
  display: flex;
  gap: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.item-row img {
  width: 80px;
  object-fit: contain;
}

.item-title {
  font-weight: 600;
}

.item-price {
  color: #b12704;
  font-weight: bold;
}

/* RIGHT */
.review-right {
  flex: 1;
  background: #fff;
  padding: 20px;
  height: fit-content;
  border-radius: 4px;
}

.summary-row,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary-total {
  font-size: 18px;
  font-weight: bold;
  color: #b12704;
}

.place-btn {
  width: 100%;
  background: #ffd814;
  border: 1px solid #fcd200;
  padding: 12px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
}

.place-btn:hover {
  background: #f7ca00;
}

.place-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}